* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F4F4F5;
}

.wrapper {
    width: 512px;
    padding: 32px;
    border-radius: 24px;
    background-color: #FAFAFA;
    row-gap: 16px;
    display: flex;
    flex-direction: column;
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-left {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.transaction-right {
    text-align: right;
}

.transaction-icon {
    height: 48px;
    width: 48px;
    background-color: #CCFCF1;
    border-radius: 12px;
}

.transaction-title,
.transaction-amount {
    font-size: 16px;
    line-height: 20px;
    color: #3F3F46;
    font-weight: 700;
}

.transaction-description,
.transaction-date {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #A1A1AA;
}