* {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.alert {
    border: 2px solid #ddd;
    background-color: #eee;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    column-gap: 16px;
    width: 512px;
    align-items: center;
    transition: all .2s;
}

.alert-success {
    background-color: #EFFEF4;
    border-color: #87EEAC;
}

.alert-success .alert-icon {
    background-color: #22C55D;
}

.alert-info {
    border-color: #92C6FD;
    background-color: #EFF6FF;
}

.alert-info .alert-icon {
    background-color: #3D81F6;
}

.alert-icon {
    height: 48px;
    width: 48px;
    font-size: 24px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #aaa;
    color: white;
    border-radius: 99px;
}

.alert-text {
    flex-grow: 1;
}

.alert-title {
    font-size: 16px;
    line-height: 24px;
    color: #111827;
    font-weight: 600;
}

.alert-description {
    color: #6B7280;
    font-size: 14px;
    line-height: 20px;
}

.alert-close {
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all .2s;
}

.alert-close:hover {
    background-color: white;
    cursor: pointer;
}

.alert-hidden {
    opacity: 0;
}